# Reference: <https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners>

* @FirestarJes @dstenroejl @Sondergaard @jonasdmoeller @HenrikSommer @RasmusGraabaek @michaelmajgaard @Energinet-DataHub/team-mosaic

/.github/actions    @Energinet-DataHub/TheOutlaws
/.github/workflows  @Energinet-DataHub/TheOutlaws
