# All teams developing for DH3 is allowed here, geh-core is shared property between teams

* @Energinet-DataHub/TheOutlaws @Energinet-DataHub/team-titans @Energinet-DataHub/team-mosaic @Energinet-DataHub/mandalorian @Energinet-DataHub/volt